[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/tmux"]
	path = bundle/tmux
	url = https://github.com/zaiste/tmux.vim
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/incsearch"]
	path = bundle/incsearch
	url = https://github.com/haya14busa/incsearch.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "bundle/tpope-markdown"]
	path = bundle/tpope-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/vhdl"]
	path = bundle/vhdl
	url = https://github.com/salinasv/vim-vhdl
[submodule "bundle/bufonly"]
	path = bundle/bufonly
	url = https://github.com/schickling/vim-bufonly
[submodule "bundle/rename"]
	path = bundle/rename
	url = https://github.com/danro/rename.vim
[submodule "bundle/tabmerge"]
	path = bundle/tabmerge
	url = https://github.com/vim-scripts/Tabmerge
[submodule "bundle/restore-view"]
	path = bundle/restore-view
	url = https://github.com/vim-scripts/restore_view.vim
