[submodule "pack/git/start/fugitive"]
	path = pack/git/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/filetype/start/csv"]
	path = pack/filetype/start/csv
	url = https://github.com/chrisbra/csv.vim
[submodule "pack/tmux/start/syntax"]
	path = pack/tmux/start/syntax
	url = https://github.com/zaiste/tmux.vim
[submodule "pack/functional/opt/pathogen"]
	path = pack/functional/opt/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "pack/tmux/start/navigator"]
	path = pack/tmux/start/navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "pack/filetype/opt/android"]
	path = pack/filetype/opt/android
	url = https://github.com/hsanson/vim-android
[submodule "pack/functional/start/eunuch"]
	path = pack/functional/start/eunuch
	url = https://github.com/doronbehar/vim-eunuch
[submodule "pack/editing/start/searchindex"]
	path = pack/editing/start/searchindex
	url = https://github.com/google/vim-searchindex
[submodule "pack/functional/start/window-swap"]
	path = pack/functional/start/window-swap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "pack/editing/start/stay"]
	path = pack/editing/start/stay
	url = https://github.com/kopischke/vim-stay
[submodule "pack/filetype/start/tex"]
	path = pack/filetype/start/tex
	url = https://github.com/lervag/vimtex
[submodule "pack/editing/start/push"]
	path = pack/editing/start/push
	url = https://github.com/glts/vim-push
[submodule "pack/functional/opt/tabular"]
	path = pack/functional/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/textobj/start/uri"]
	path = pack/textobj/start/uri
	url = https://github.com/jceb/vim-textobj-uri
[submodule "pack/textobj/start/user"]
	path = pack/textobj/start/user
	url = https://github.com/kana/vim-textobj-user
[submodule "pack/looks/start/qf_resize"]
	path = pack/looks/start/qf_resize
	url = https://github.com/blueyed/vim-qf_resize
[submodule "pack/editing/start/repeat"]
	path = pack/editing/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/filetype/opt/scriptease"]
	path = pack/filetype/opt/scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "pack/git/start/rooter"]
	path = pack/git/start/rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/editing/start/bbye"]
	path = pack/editing/start/bbye
	url = https://github.com/moll/vim-bbye
[submodule "pack/functional/opt/transpose"]
	path = pack/functional/opt/transpose
	url = https://github.com/salsifis/vim-transpose
[submodule "pack/functional/opt/dirdiff"]
	path = pack/functional/opt/dirdiff
	url = https://github.com/will133/vim-dirdiff
[submodule "pack/filetype/start/mediawiki"]
	path = pack/filetype/start/mediawiki
	url = https://github.com/chikamichi/mediawiki.vim
[submodule "pack/looks/start/signify"]
	path = pack/looks/start/signify
	url = https://github.com/mhinz/vim-signify
[submodule "pack/textobj/start/quotes"]
	path = pack/textobj/start/quotes
	url = https://github.com/beloglazov/vim-textobj-quotes
[submodule "pack/functional/start/togglelist"]
	path = pack/functional/start/togglelist
	url = https://github.com/milkypostman/vim-togglelist
[submodule "pack/looks/opt/css-color"]
	path = pack/looks/opt/css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/functional/start/ghost"]
	path = pack/functional/opt/ghost
	url = https://github.com/raghur/vim-ghost
[submodule "pack/filetype/start/orgmode"]
	path = pack/filetype/start/orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "pack/filetype/opt/editorconfig"]
	path = pack/filetype/opt/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/editing/start/nerdcommenter"]
	path = pack/editing/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "pack/editing/start/gundo"]
	path = pack/editing/start/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "pack/textobj/start/underscore"]
	path = pack/textobj/start/underscore
	url = https://github.com/lucapette/vim-textobj-underscore
[submodule "pack/git/start/rhubarb"]
	path = pack/git/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/git/start/fugitive-gitlab"]
	path = pack/git/start/fugitive-gitlab
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "pack/filetype/start/neomutt"]
	path = pack/filetype/start/neomutt
	url = https://github.com/neomutt/neomutt.vim
[submodule "pack/filetype/start/AnsiEsc"]
	path = pack/filetype/start/AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim
[submodule "pack/functional/start/info"]
	path = pack/functional/start/info
	url = https://gitlab.com/HiPhish/info.vim
[submodule "pack/functional/start/suda"]
	path = pack/functional/start/suda
	url = https://github.com/lambdalisue/suda.vim
[submodule "pack/editing/start/sandwich"]
	path = pack/editing/start/sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "pack/functional/opt/vader"]
	path = pack/functional/opt/vader
	url = https://github.com/junegunn/vader.vim
[submodule "pack/editing/start/sleuth"]
	path = pack/editing/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/filetype/start/nftables"]
	path = pack/filetype/start/nftables
	url = https://github.com/nfnty/vim-nftables
[submodule "pack/filetype/start/syncthing"]
	path = pack/filetype/start/syncthing
	url = https://github.com/brgmnn/vim-syncthing
[submodule "pack/filetype/start/jsonc"]
	path = pack/filetype/start/jsonc
	url = https://github.com/neoclide/jsonc.vim
[submodule "pack/editing/start/closetag"]
	path = pack/editing/start/closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/filetype/start/jinja"]
	path = pack/filetype/start/jinja
	url = https://github.com/lepture/vim-jinja
[submodule "pack/filetype/start/rust"]
	path = pack/filetype/start/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/filetype/start/toml"]
	path = pack/filetype/start/toml
	url = https://github.com/cespare/vim-toml
[submodule "pack/filetype/start/solidity"]
	path = pack/filetype/start/solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "pack/functional/start/dispatch"]
	path = pack/functional/start/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "pack/functional/start/dispatch-neovim"]
	path = pack/functional/start/dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim
[submodule "pack/functional/start/direnv"]
	path = pack/functional/start/direnv
	url = https://github.com/direnv/direnv.vim
[submodule "pack/looks/start/colorizer.lua"]
	path = pack/looks/start/colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/functional/start/firenvim"]
	path = pack/functional/opt/firenvim
	url = https://github.com/glacambre/firenvim
[submodule "pack/filetype/start/jsx-typescript"]
	path = pack/filetype/start/jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "pack/functional/start/lf"]
	path = pack/functional/start/lf
	url = https://github.com/thezeroalpha/vim-lf
[submodule "pack/filetype/start/asciidoctor"]
	path = pack/filetype/start/asciidoctor
	url = https://github.com/habamax/vim-asciidoctor
[submodule "pack/filetype/start/Docekrfile"]
	path = pack/filetype/start/Docekrfile
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "pack/filetype/start/jsonnet"]
	path = pack/filetype/start/jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "pack/filetype/start/json5"]
	path = pack/filetype/start/json5
	url = https://github.com/gutenye/json5.vim
[submodule "pack/filetype/start/vala"]
	path = pack/filetype/start/vala
	url = https://github.com/arrufat/vala.vim
[submodule "pack/functional/start/dap"]
	path = pack/functional/start/dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "pack/functional/start/dap-python"]
	path = pack/functional/start/dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule "pack/functional/start/dap-ui"]
	path = pack/functional/start/dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "pack/functional/start/dap-go"]
	path = pack/functional/start/dap-go
	url = https://github.com/leoluz/nvim-dap-go
[submodule "pack/functional/start/sved"]
	path = pack/functional/start/sved
	url = https://github.com/peterbjorgensen/sved
[submodule "pack/editing/start/lexima"]
	path = pack/editing/start/lexima
	url = https://github.com/doronbehar/lexima.vim
[submodule "pack/filetype/start/nix"]
	path = pack/filetype/start/nix
	url = https://github.com/doronbehar/vim-nix
[submodule "pack/functional/start/lspconfig"]
	path = pack/functional/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/functional/opt/treesitter"]
	path = pack/functional/opt/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/functional/start/treesitter-textobjects"]
	path = pack/functional/opt/treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "pack/functional/start/cmp"]
	path = pack/functional/start/cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/completion/start/nvim-lsp"]
	path = pack/completion/start/nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/completion/start/path"]
	path = pack/completion/start/path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/completion/start/cmdline"]
	path = pack/completion/start/cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "pack/completion/start/vsnip"]
	path = pack/completion/start/vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "pack/functional/start/vsnip"]
	path = pack/functional/start/vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/functional/start/friendly-snippets"]
	path = pack/functional/start/friendly-snippets
	url = https://github.com/doronbehar/friendly-snippets
	branch = fork
[submodule "pack/completion/start/treesitter"]
	path = pack/completion/start/treesitter
	url = https://github.com/ray-x/cmp-treesitter
[submodule "pack/completion/start/lsp-signature-help"]
	path = pack/completion/start/lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help
[submodule "pack/completion/start/zsh"]
	path = pack/completion/start/zsh
	url = https://github.com/tamago324/cmp-zsh
[submodule "pack/functional/start/fzf-lua"]
	path = pack/functional/opt/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "pack/looks/start/lualine"]
	path = pack/looks/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "pack/functional/start/localvimrc"]
	path = pack/functional/start/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "pack/looks/start/sonokai"]
	path = pack/looks/opt/sonokai
	url = https://github.com/sainnhe/sonokai
[submodule "pack/git/start/fubitive"]
	path = pack/git/start/fubitive
	url = https://github.com/tommcdo/vim-fubitive
[submodule "pack/completion/start/vsnip-integ"]
	path = pack/completion/start/vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
[submodule "pack/filetype/start/bitbake"]
	path = pack/filetype/start/bitbake
	url = https://github.com/kergoth/vim-bitbake
[submodule "pack/filetype/start/pydoc"]
	path = pack/filetype/start/pydoc
	url = https://github.com/somini/pydoc.vim
[submodule "pack/functional/start/nio"]
	path = pack/functional/start/nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "pack/filetype/start/ical"]
	path = pack/filetype/start/ical
	url = https://github.com/axvr/ical.vim
[submodule "pack/functional/start/texpresso"]
	path = pack/functional/start/texpresso
	url = https://github.com/let-def/texpresso.vim
