[submodule "bundle/fugitive"]
	path = bundle/fugitive@tpope
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter@airblade
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/csv"]
	path = bundle/csv@chrisbra
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/tmux"]
	path = bundle/tmux-syntax@zaiste
	url = https://github.com/zaiste/tmux.vim
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/incsearch"]
	path = bundle/incsearch@haya14busa
	url = https://github.com/haya14busa/incsearch.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/airline-themes"]
	path = bundle/themes@airline
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/pathogen"]
	path = bundle/pathogen@tpope
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator@christoomey
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "bundle/tpope-markdown"]
	path = bundle/markdown@tpope
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/vhdl"]
	path = bundle/vhdl@salinasv
	url = https://github.com/salinasv/vim-vhdl
[submodule "bundle/devicons"]
	path = bundle/devicons@ryanoasis
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/ncurses-syntax"]
	path = bundle/ncurses-syntax@melvilletheatre.com
	url = https://github.com/Doron-Behar/vim-ncurses-syntax
[submodule "bundle/android"]
	path = bundle/android@hsanson
	url = https://github.com/hsanson/vim-android
[submodule "bundle/eunuch"]
	path = bundle/eunuch@tpope
	url = https://github.com/tpope/vim-eunuch
[submodule "bundle/searchindex@google"]
	path = bundle/searchindex@google
	url = https://github.com/google/vim-searchindex
[submodule "bundle/window-swap@wesQ3"]
	path = bundle/window-swap@wesQ3
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/peekaboo@junegunn"]
	path = bundle/peekaboo@junegunn
	url = https://github.com/junegunn/vim-peekaboo
[submodule "bundle/stay@kopischke"]
	path = bundle/stay@kopischke
	url = https://github.com/kopischke/vim-stay
[submodule "bundle/tex@lervag"]
	path = bundle/tex@lervag
	url = https://github.com/lervag/vimtex
[submodule "bundle/lilypond"]
	path = bundle/lilypond
	url = https://github.com/matze/vim-lilypond
[submodule "bundle/push"]
	path = bundle/push@glts
	url = https://github.com/glts/vim-push
[submodule "bundle/bufexplorer@jlanzarotta"]
	path = bundle/bufexplorer@jlanzarotta
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "bundle/surround@tpope"]
	path = bundle/surround@tpope
	url = https://github.com/tpope/vim-surround
[submodule "bundle/speeddating@tpope"]
	path = bundle/speeddating@tpope
	url = https://github.com/tpope/vim-speeddating
[submodule "bundle/tabular@godlygeek"]
	path = bundle/tabular@godlygeek
	url = https://github.com/godlygeek/tabular
[submodule "bundle/textobj-uri@jceb"]
	path = bundle/textobj-uri@jceb
	url = https://github.com/jceb/vim-textobj-uri
[submodule "bundle/textobj-user@kana"]
	path = bundle/textobj-user@kana
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/qf_resize@blueyed"]
	path = bundle/qf_resize@blueyed
	url = https://github.com/blueyed/vim-qf_resize
[submodule "bundle/repeat@tpope"]
	path = bundle/repeat@tpope
	url = git@github.com:tpope/vim-repeat
[submodule "bundle/scriptease@tpope"]
	path = bundle/scriptease@tpope
	url = git@github.com:tpope/vim-scriptease
[submodule "bundle/targets@wellle"]
	path = bundle/targets@wellle
	url = https://github.com/wellle/targets.vim
[submodule "bundle/rooter@airblade"]
	path = bundle/rooter@airblade
	url = https://github.com/airblade/vim-rooter
[submodule "bundle/bbye@moll"]
	path = bundle/bbye@moll
	url = https://github.com/moll/vim-bbye
[submodule "bundle/transpose"]
	path = bundle/transpose
	url = https://github.com/salsifis/vim-transpose
[submodule "bundle/dirdiff"]
	path = bundle/dirdiff@will133
	url = https://github.com/will133/vim-dirdiff
[submodule "bundle/togglelist@milkypostman"]
	path = bundle/togglelist@milkypostman
	url = https://github.com/milkypostman/vim-togglelist
[submodule "bundle/pencil@reedes"]
	path = bundle/pencil@reedes
	url = https://github.com/reedes/vim-pencil
[submodule "bundle/mediawiki"]
	path = bundle/mediawiki
	url = https://github.com/chikamichi/mediawiki.vim
[submodule "bundle/spell-he"]
	path = bundle/spell-he
	url = git@github.com:doronbehar/vim-spell-he
